input {
  display: block;
  width: 300px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 24px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  margin: 5px;
  box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.05);
  transition: all 300ms;
}
.div-google-search-box {
  width: 600px;
  margin: 0 auto;
}
img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.input-google-search-box {
  width: 100%;
  height: 30px;
  font-size: 20px;
  border-radius: 30px;
}
input:hover {
  border-color: rgb(100, 100, 100);
  box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.1);
}
body, input {
  font-family: 'Nunito', sans-serif;
}
.p-survey-req {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}

/*
div {
  width: 340px;
}
input {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
  display: block;
  width: 300px;
}
.input-name {
  display: inline-block;
  width: 131px;
}
button {
  background-color: rgb(47, 127, 231);
  color: white;
  border: none;
  width: 330px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
} */